{% extends "base_generic.html" %}

{% block title %}
    <title>{{ asset.name }} Detail</title>
{% endblock %}

{% block content %}
    <h1>{{ asset.name }} {{ asset.type }} Detail</h1>

    <p>
        Price: {{ asset.value_object.latest_price }}
        Amount: {{ asset.value_object.latest_holding }}
        Value: {{ asset.value_object.latest_value }}
    </p>
    <ul>
        {% for balance in asset.assetbalance_set.all %}
            <li>
                <a href="{% url 'assetbalancehistory' asset.pk balance.pk %}">
                    Go to assetbalancehistory list
                </a>
                {{ balance.broker }}
                {{ balance.assetbalancehistory_set.latest.amount }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}