{% extends "base_generic.html" %}

{% block title %}
    <title>Delete {{ assetbalancehistory.balance.asset.name }} balance record</title>
{% endblock %}

{% block content %}
    <div class="tableForm">
        <div>
            <h1>Delete {{ assetbalancehistory.balance.asset.name }} balance record</h1>

            <p>Are you sure you want to want to delete 
                {{ assetbalancehistory.balance.broker.name }}
                {{ assetbalancehistory.balance.asset.name }} record from
                {{ assetbalancehistory.date }}?</p>
        
            <form action="" method="POST">
                {% csrf_token %}
                    <div>
                        <input type="submit" value="Delete" />
                    </div>
            </form>
        </div>
    </div>
{% endblock %}