{% extends "base_generic.html" %}

{% block title %}
    <title>{{ asset.name }} Detail</title>
{% endblock %}

{% block content %}
    <div class="detailPanel">
        <div>
            <h1>Asset Detail</h1>

            <div class="infoHeader">
                <h2 class="secondaryInfo">{{ asset.name }} <span>{{ asset.type }}</span></h2>
                <p class="mainInfo">${{ asset.value_object.latest_price }}</p>

                {% if user_assetbalance %}
                    <p>
                        Amount: {{ asset.value_object.latest_holding }}
                        Value: {{ asset.value_object.latest_value }}
                    </p>     
                {% endif %}
            </div>

            <ul>
                {% for balance in user_assetbalance %}
                    <li>
                        <a href="{% url 'assetbalancehistory' asset.slug balance.pk %}">
                            <div class="mainListItem">
                                <p>{{ balance.broker }}</p>
                                <p>{{ balance.assetbalancehistory_set.latest.round_amount }}</p>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <a href="{% url 'assetbalancehistory-create' asset.slug %}">
                {% if user_assetbalance %}
                    <div class="btn terButton">
                        <p>Create new assetbalancehistory</p>
                    </div>
                {% else %}
                <div class="btn mainButton">
                    <p>Create new assetbalancehistory</p>
                </div>
                {% endif %}
            </a>
        </div>  
    </div>
{% endblock %}