{% extends "base_generic.html" %}

{% block title %}
    <title>AssetBalanceHistory List</title>
{% endblock %}

{% block content %}

    <div class="detailPanel">
        <div>
            <h1>Asset Balance History</h1>

            <div class="infoHeader">
                <a href="{% url 'asset-detail' slug %}">
                    <h2 class="mainInfo">{{ assetbalancehistory_list.0.balance.asset.name }}</h2>
                </a>
                <p class="secondaryInfo">{{ assetbalancehistory_list.0.balance.broker.name }}</p>    
            </div>

            <ul>
                {% for assetbalancehistory in assetbalancehistory_list %}
                    <li class="secondaryListItem">
                        <p>{{ assetbalancehistory.date }}</p>
                        <p>{{ assetbalancehistory.round_amount }}</p>
                            <a href="{% url 'assetbalancehistory-delete' slug pk2 assetbalancehistory.pk %}">
                                <p class="grayColor3">Delete</p>
                            </a>

                    </li>
                {% endfor %}
            </ul>
            <a href="{% url 'assetbalancehistory-create-pk2' slug pk2 %}">
                <div class="btn secButton">
                    <p>Create new record</p>
                </div>
            </a>
        </div>
    </div>

{% endblock %}
