<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}
            <title>Portfolio</title>
        {% endblock %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik" />

        <!-- Add additional CSS in static file -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <div class="grid-container">
            <header>
                <h2>Portfolio</h2>
            </header>

            <aside>
                {% block sidebar %}
                    <ul class="sidebar-nav">
                        <div class="sidebar-section">
                            <li>
                                <a href="{% url 'index' %}">Home</a>
                            </li>

                            <li>
                                <a href="{% url 'dashboard' %}">Dashboard</a>
                            </li>
                        </div>
                    </ul>
                {% endblock %}
            </aside>

            <section class="content-container">
                {% block content %}
                {% endblock %}
            </section>

            <footer>
                <p>

                </p>
            </footer>
        </div>
    </body>
</html>