{% extends "base_generic.html" %}

{% block title %}
    <title>{{ user.get_username }} Dashboard</title>
{% endblock %}

{% block content %}
    <div class="main-header">
        <h1>Portfolio</h1>
    </div>
    

    <table>
        <caption>
            List of user assets
        </caption>

        <thead>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Holdings</th>
            <th scope="col">Value</th>
        </thead>

        <tbody>
            {% for balance in user_balance_list %}
                <tr>
                    <th scope="row">{{ balance.asset }}</th>
                    <th scope="row">{{ balance.latest_price }}</th>
                    <th scope="row">{{ balance.latest_holding }}</th>
                    <th scope="row">{{ balance.latest_value }}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>












    <h2>My assets:</h2>

    <p>{{ user_portfolio }}</p>

    <ul>List of currencies</ul>
        {% for assetBalance in user_portfolio.assetbalance_set.all %}
            <li>{{ assetBalance.asset }} - {{ assetBalance.broker }}</li>

            <ul>
                Asset history:
                    {% for assetBalanceHistory in assetBalance.assetbalancehistory_set.all %}
                        <li>
                            {{ assetBalanceHistory.amount|floatformat:2 }} - {{ assetBalanceHistory.date }}

                            {% for price_history_object in latest_price_history_list %}
                                {% if assetBalance.asset == price_history_object.asset %}
                                    x {{ price_history_object.price|floatformat:2 }} = {% widthratio assetBalanceHistory.amount|floatformat:2 1 price_history_object.price %} USD
                                {% endif %}
                            {% endfor %}
                        </li>
                    {% endfor %}
            </ul>
        {% endfor %}
{% endblock %}