{% extends "base_generic.html" %}

{% block title %}
    <title>{{ user.get_username }} Dashboard</title>
{% endblock %}

{% block content %}
    <div class="flexboxSB">
        <h1 class="headingMd weight500 margin1TB">Portfolio Overview</h1>
        <p>September 3 2023</p>
    </div>

    <div class="flexboxSA grayBc7 margin1B">
        <div class="textLeft padding1">
            <h2 class="textNormal weight500">Total Balance</h2>
            <p>$1500.00</p>
        </div>

        <div>
            <h3>30 Day Change</h3>
            <p>+$100.00</p>
        </div>

        <div>
            <h3>Cash</h3>
            <p>$200</p>
        </div>
    </div>
    
    <div>
        <table class="tableSmall textSmall">
            <caption>
                List of user assets
            </caption>

            <thead class="grayBc7 textRight">
                <tr>
                    <th scope="col">Icon</th>
                    <th class="textLeft" scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Holdings</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>

            <tbody>
                {% for balance in user_holdings_list %}
                    <tr class="grayBc9 textRight weight500">
                        <th scope="row">
                            <!--
                            {% load static %}
                            <img class='iconSmall' src="{% static balance.icon.url|slice:'18:' %}" />
                            -->
                        </th>
                        <th class="textLeft" scope="row">{{ balance.name }}</th>
                        <th scope="row">${{ balance.latest_price }}</th>
                        <th scope="row">{{ balance.latest_holding }}</th>
                        <th scope="row">${{ balance.latest_value }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <table>
        <caption>
            Portfolio value history
        </caption>

        <thead>
            <th scope="col">Date</th>
            <th scope="col">Value</th>
        </thead>

        <tbody>
            {% for total_balance in user_daily_balance_history %}
                <tr>
                    <th scope="row">{{ total_balance.date }}</th>
                    <th scope="row">{{ total_balance.values }}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}