{% extends "base_generic.html" %}

{% block title %}
    <title>Portfolio Home</title>
{% endblock %}

{% block content %}
    <h1>Portfolio - asset management</h1>

    <h2>Portfolio test</h2>

    <p>{{ portfolio_object }}</p>

    <p class="textSmall">User adds AssetBalancehistory record. If AssetBalance exists for an Asset AssetBalanceHistory record gets created. Otherwise AssetBalance gets created as well.</p>
    <p class="">User adds AssetBalancehistory record. If AssetBalance exists for an Asset AssetBalanceHistory record gets created. Otherwise AssetBalance gets created as well.</p>
    <p class="textLarger">User adds AssetBalancehistory record. If AssetBalance exists for an Asset AssetBalanceHistory record gets created. Otherwise AssetBalance gets created as well.</p>
    <p class="headingMd">User adds AssetBalancehistory record. If AssetBalance exists for an Asset AssetBalanceHistory record gets created. Otherwise AssetBalance gets created as well.</p>
    <p class="headingLg">User adds AssetBalancehistory record. If AssetBalance exists for an Asset AssetBalanceHistory record gets created. Otherwise AssetBalance gets created as well.</p>
    <p class="headingXl">User adds AssetBalancehistory record. If AssetBalance exists for an Asset AssetBalanceHistory record gets created. Otherwise AssetBalance gets created as well.</p>
    <p class="heading2Xl">User adds AssetBalancehistory record. If AssetBalance exists for an Asset AssetBalanceHistory record gets created. Otherwise AssetBalance gets created as well.</p>
    <p class="heading3Xl">User adds AssetBalancehistory record. If AssetBalance exists for an Asset AssetBalanceHistory record gets created. Otherwise AssetBalance gets created as well.</p>
{% endblock %}