{% extends "base_generic.html" %}

{% block content %}

    {% if next %}
        {% if user.is_authenticated %}
            <p> 
                Your account access for this page is denied.
                Please login with account that has access.
            </p>
        {% else %}
            <p>
                Login to see this page.
            </p>
        {% endif %}
    {% endif %}

    <div class="tableForm">
        <div>
            {% if form.errors %}
                <p>Your username and password combination is incorrect. Please try again.</p>
            {% endif %}

            <h1>Login</h1>

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                    <table>
                        <tr>
                            <th scope="col">{{ form.username.label_tag }}</th>
                            <td>{{ form.username }}</td>
                        </tr>

                        <tr>
                            <th scope="col">{{ form.password.label_tag }}</th>
                            <td>{{ form.password }}</td>
                        </tr>
                    </table>
                    <input type="submit" value="login" />
                    <input type="hidden" name="next" value="{{ next }}" />
            </form>
        
            <p>Don't have account yet? <a href="{% url 'register' %}">Register now.</a></p>
        </div>
    </div>

{% endblock %}
    