{% extends "base_generic.html" %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
            {% if form.email.errors %}
                {{ form.email.errors }}
            {% endif %}

            <h1>Password reset form</h1>
            <p>
                Please enter email associated with your account.
                We will send an email with a link that will allow you to change your password.
            </p>
            
            <table>
                <tr>
                    <th scope="row">Email:</th>
                    <td>{{ form.email }}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Reset password" />
                    </td>
                </tr>
            </table>
    </form>
{% endblock %}