{% extends "base_generic.html" %}

{% block content %}

    <div class="tableForm">
        <div>
            {% if form.email.errors %}
                <p class="formError">{{ form.email.errors }}</p>
            {% endif %}

            <h1>Password reset form</h1>
            
            <p>
                Please enter email associated with your account.
                We will send an email with a link that will allow you to change your password.
            </p>

            <form action="" method="post">
                {% csrf_token %}
                    <table>
                        <tr>
                            <th scope="row">Email</th>
                            <td>{{ form.email }}</td>
                        </tr>
                    </table>
                    <div>
                        <input type="submit" value="Reset password" />
                    </div>
            </form>
        </div>
    </div>
{% endblock %}