{% extends "base_generic.html" %}

{% block content %}

    <div class="tableForm">
        <div>
            <h1>Register</h1>

            <form method="POST">
                {% csrf_token %}
                    <table>
                        {% for field in form %}
                            <tr>
                                <th>
                                    {{ field.errors }}
                                    <label for="{{field.id}}">{{ field.label }}</label>
                                </th>
                                <td>{{ field }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div class="submitCtn">
                        <input type="submit" value="Register"/>
                    </div>
            </form>

            <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
        </div>
    </div>
{% endblock %}
