files:
  "/etc/cron.d/mycron":
    mode: "000644"
    owner: root
    group: root
    content: |
      30 0,8,16 * * * root /usr/local/bin/myscript_c.sh
      45 16     * * * root /usr/local/bin/myscript_s.sh

  "/usr/local/bin/myscript_c.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      export $(cat /opt/elasticbeanstalk/deployment/env | xargs)
      source $PYTHONPATH/activate
      python3 /var/app/current/manage.py importcryptoprices

  "/usr/local/bin/myscript_s.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      export $(cat /opt/elasticbeanstalk/deployment/env | xargs)
      source $PYTHONPATH/activate
      python3 /var/app/current/manage.py importstockprices


commands:
  remove_old_cron:
    command: "rm -f /etc/cron.d/mycron.bak"