.grayBc1 {
  background-color: hsl(222, 47%, 11%);
}

.grayBc2 {
  background-color: hsl(217, 33%, 17%);
}

.grayBc3 {
  background-color: hsl(215, 19%, 35%);
}

.grayBc4 {
  background-color: hsl(215, 16%, 47%);
}

.grayBc5 {
  background-color: hsl(215, 20%, 65%);
}

.grayBc6 {
  background-color: hsl(213, 27%, 84%);
}

.grayBc7 {
  background-color: hsl(214, 32%, 91%);
}

.grayBc8 {
  background-color: hsl(210, 40%, 95%);
}

.grayBc9 {
  background-color: hsl(210, 40%, 97%);
}


.grayColor1 {
  color: hsl(222, 47%, 11%);
}

.grayColor2 {
  color: hsl(217, 33%, 17%);
}

.grayColor3 {
  color: hsl(215, 19%, 35%);
}

.grayColor4 {
  color: hsl(215, 16%, 47%);
}

.grayColor5 {
  color: hsl(215, 20%, 65%);
}

.grayColor6 {
  color: hsl(213, 27%, 84%);
}

.grayColor7 {
  color: hsl(214, 32%, 91%);
}

.grayColor8 {
  color: hsl(210, 40%, 95%);
}

.grayColor9 {
  color: hsl(210, 40%, 97%);
}