.grayBc1 {
    background-color: hsl(0, 0%, 6%);
  }
  
  .grayBc2 {
    background-color: hsl(0, 0%, 19%);
  }
  
  .grayBc3 {
    background-color: hsl(0, 0%, 33%);
  }
  
  .grayBc4 {
    background-color: hsl(0, 0%, 53%);
  }
  
  .grayBc5 {
    background-color: hsl(0, 0%, 68%);
  }
  
  .grayBc6 {
    background-color: hsl(0, 0%, 78%);
  }
  
  .grayBc7 {
    background-color: hsl(0, 0%, 86%);
  }
  
  .grayBc8 {
    background-color: hsl(0, 0%, 92%);
  }
  
  .grayBc9 {
    background-color: hsl(0, 0%, 97%);
  }