html, 
body
{
    font-family: 'Rubik', -apple-system, Segoe UI;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

body {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover, a:link, a:visited, a:active {
    all: unset;
}

a:hover {
    cursor: pointer;
}

table caption {
    display: none;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
    padding: 0;
}

table {
    border-collapse: collapse;
}