.flexboxSB {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.flexboxSA {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.margin1TB {
    margin: 1rem 0; 
}

.margin1HalfTB {
    margin: 1.5rem 0; 
}

.margin1B {
    margin: 0 0 1rem; 
}

.marginZero {
    margin: 0 0;
}


padding1 {
    padding: 1rem;
}

.iconSmall {
    max-width: 2rem;
    max-height: 2rem;
}