.flexboxSB {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.flexboxSA {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.flexboxCenter {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
    align-items: baseline;
}

.flexJustifyStart {
    margin-right: auto;
}

.iconSmall {
    max-width: 2rem;
    max-height: 2rem;
}

.displayBlock {
    display: block;
}

.widthContent {
    width: fit-content;
}

.borderRadius {
    border-radius: 0.5rem;
}

.displayNone {
    display: none;
}

.autoWidth {
    width: auto;
}