html
{
    font-family: 'Rubik';
}

body
{
    margin: 0;
    background-color: hsl(0, 0%, 97%);
    color: hsl(0, 0%, 6%);
}

/*
    Appling grid layout to the page
*/
.grid-container
{
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-rows: 72px auto 48px;

    position: relative;
    min-height: 100vh;
    max-width: 56rem;
    margin: 0 auto;    
}

header
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    grid-area: header;
}

.content-container
{
    grid-area: content;
}

footer
{
    grid-area: footer;
}

/*
    Styling header and sidebar
*/
.header-navbar
{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

.header-navbar > *
{
    list-style: none;
    margin: 0.25rem;
}

header > .header-logo
{
    
}

header > .header-user
{
    display: flex;
    justify-content: right;
}