html
{
    font-family: 'Rubik';
}

body
{
    margin: 0;
}

/*
    Appling grid layout to the page
*/
.grid-container
{
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
        grid-template-rows: 1fr 6fr 0.5fr;

    
    position: relative;
    min-height: 100vh;
}

header
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    grid-area: header;
    background-color: orange;
    font-weight: 600;
}

.content-container
{
    grid-area: content;
    background-color: antiquewhite;
}

footer
{
    grid-area: footer;

    background-color: black;
    color: white;
}


/*
    Styling main content
*/
h1
{
    font-size: 2.4rem;
}

h2
{
    font-size: 2rem;
}

.main-content
{
    margin: 4% 10%;
}



/*
    Styling header and sidebar
*/
.header-navbar
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.header-navbar > *
{
    margin: auto 2vw;
}

header > .header-logo
{
    margin-left: 6vw;
}

header > .header-user
{
    margin-right: 6vw;
    display: flex;
    justify-content: right;
}