{% extends "base_generic.html" %}

{% block content %}
    <div class="tableForm">
        <div>
            <h1>Delete {{ apiconnection.broker }} Exchange Api Connection</h1>
    
            <h2 class="formHeader">Are you sure you want to delete {{ apiconnection.broker }} Api Connection?</p>
            <p>All related information about Asset balances fetched from the exchange will also be deleted.</p>
        
            <form action="" method="POST">
                {% csrf_token %}
                    <div>
                        <input type="submit" value="Delete all {{ apiconnection.broker }} Exchange data." />
                    </div>
            </form>
        </div>
    </div>
{% endblock %}