{% extends "base_generic.html" %}

{% block title %}
    <title>Add Api Connection</title>
{% endblock %}

{% block content %}
    <div class="tableForm">
        <div>
            <h1>Add Api Connection</h1>

            <h2 class="formHeader">{{ exchange.name }} Exchange</h2>
        
            <form action="" method="post">
                {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    
                    <div class="submitCtn">
                        <input type="submit" value="Add Api Connection" />
                    </div>
            </form>
            {% if exchange.name.lower == 'binance' %}
                <p>
                    <a class="normalLink" target="_blank" rel="noopener" href="https://www.binance.com/en/support/faq/how-to-create-api-keys-on-binance-360002502072">
                    How to obtain {{ exchange.name }} api keys
                    </a>
                </p>
            {% elif exchange.name.lower == 'gate io' %}
                <p>
                    <a class="normalLink" target="_blank" rel="noopener" href="https://www.gate.io/help/guide/common/17521/how-to-utilize-api">
                    How to obtain {{ exchange.name }} api keys
                    </a>
                </p>
            {% endif %}
            <p>Make sure keys are read only!</p>
        </div>
    </div>
{% endblock %}