{% extends "base_generic.html" %}

{% block title %}
    <title>{{ user.get_username }} Dashboard</title>
{% endblock %}

{% block content %}
    <h1>Portfolio connections</h1>

    <h2>Exchanges</h2>

    {% if connected_crypto_exchenges_list %}
        <h3>Cryptocurrency Exchanges Connections:</h3>
        <ul>
            {% for crypto_exchange in connected_crypto_exchenges_list %}
                <li>{{ crypto_exchange.name }} connected - {{ crypto_exchange.connected }}</li>
            {% endfor %}
        </ul>
        
        <h3>Brokerage House Connections:</h3>
        <ul>
            {% for brokerage in connected_brokerages_list %}
                <li>{{ brokerage.name }} connected - {{ brokerage.connected }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}