{% extends "base_generic.html" %}

{% block title %}
    <title>Exchange {{ exchange.name }} detail</title>
{% endblock %}

{% block content %}
    <h1>Connection detail</h1>

    <h2>{{ exchange.name }} Exchange</h2>

    <a href="{% url 'add-connection' exchange.pk %}">
        {% if connection_exists == True %}
            <p>
                Update exchange connection
            </p>    
        {% else %}
            <p>
                Add exchange connection
            </p>  
        {% endif %}
    </a>

    <a href="{% url 'update-connection-data' exchange.pk %}">
        <p>
            Update connection data
        </p>    
    </a>
{% endblock %}