{% extends "base_generic.html" %}

{% block title %}
    <title>Exchanges list</title>
{% endblock %}

{% block content %}
    <h1 class="headingMd weight500 margin1TB">Exchanges</h1>

    {% if exchange_list %}
        <h2>Exchanges with active Api Connection</h2>
        <ul class="widthContent">
            {% for exchange in exchange_list %}
                {% if exchange.is_user_connected == True %}
                        <li class="flexboxSB grayBc9 marginHalfB">
                            <p>connected</p>
                            <p class="headingMd">{{ exchange.name }}</p>
                            <a href="{{ exchange.get_absolute_url }}">go to details</a>
                        </li>
                {% endif %}
            {% endfor %}
        </ul>

        <h2>Exchanges with no Api Connection</h2>
        <ul>
            {% for exchange in exchange_list %}
                {% if exchange.is_user_connected == False %}
                    <li>
                        {{ exchange.name }}
                        <br />
                        <a href="{{ exchange.get_absolute_url }}">go to details</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}