{% extends "base_generic.html" %}

{% block title %}
    <title>Exchanges list</title>
{% endblock %}

{% block content %}
    <h1>List of exchanges</h1>

    <h2>Exchanges</h2>

    {% if exchange_list %}
        <ul>
            {% for exchange in exchange_list %}
                <li>
                    {{ exchange.name }}
                    <a href="{{ exchange.get_absolute_url }}">go to details</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    
    {% load static %}
    <img src="{% static asset_test.icon.url|slice:'18:' %}"
{% endblock %}