{% extends "base_generic.html" %}

{% block title %}
    <title>Exchange {{ exchange.name }} detail</title>
{% endblock %}

{% block content %}
    <h1>Exchange detail</h1>

    <h2>{{ exchange.name }} Exchange</h2>

    <a href="{% url 'apiconnection-add' exchange.pk %}">
        {% if api_connection_exists == True %}
            <p>
                Update exchange api connection
            </p>    
        {% else %}
            <p>
                Add exchange api connection
            </p>  
        {% endif %}
    </a>

    {% if api_connection_exists == True %}
        <a href="{% url 'apiconnection-delete' exchange.pk %}">
            <p>
                Delete exchange api connection
            </p>
        </a>
    {% endif %}

    <a href="{% url 'fetch-apiconnection-balance' exchange.pk %}">
        <p>
            Update connection data
        </p>    
    </a>
{% endblock %}