{% extends "base_generic.html" %}

{% block title %}
    <title>Exchange {{ exchange.name }} detail</title>
{% endblock %}

{% block content %}
    <div class="detailPanel">
        <div>
            

            <h1>Exchange detail</h1>

            <h2 class="mainHeader">{{ exchange.name }} Exchange</h2>
            
            {% if exchange.is_user_connected == True %}
                <a href="{% url 'fetch-apiconnection-balance' exchange.slug %}">
                    <div class="btn mainButton">
                        <p>
                            Fetch latest Asset balance
                        </p>    
                    </div>
                </a>

                <a href="{% url 'apiconnection-add' exchange.slug %}">
                    <div class="btn secButton">  
                        <p>
                            Update exchange api connection
                        </p>    
                    </div>
                </a>

                <a href="{% url 'apiconnection-delete' exchange.slug %}">
                    <div class="btn terButton">
                        <p>
                            Delete exchange api connection
                        </p>
                    </div>
                </a>

            {% else %}
                <a href="{% url 'apiconnection-add' exchange.slug %}">
                    <div class="btn mainButton">
                        <p>
                            Add exchange api connection
                        </p>  
                    </div>
                </a>
            {% endif %}


        </div>
    </div>
{% endblock %}