{% extends "base_generic.html" %}

{% block title %}
    <title>Exchanges list</title>
{% endblock %}

{% block content %}
    <h1 class="displayNone">Exchanges</h1>

    <div class="centerPanel">
        <div>

    {% if exchange_list %}
        <h2>Active Connection</h2>

        <ul>
            {% for exchange in exchange_list %}
                {% if exchange.is_user_connected == True %}
                        <a href="{{ exchange.get_absolute_url }}">
                            <li>
                                <img src="" />
                                <p>{{ exchange.name }}</p>
                                <p>{{ exchange.get_type_display }}</p>
                            </li>
                        </a>
                {% endif %}
            {% endfor %}


            <h2 class="headingDivider">Ready to Connect</h2>

            {% for exchange in exchange_list %}
                {% if exchange.is_user_connected == False and exchange.name.lower != 'manual trades' %}
                    <a href="{{ exchange.get_absolute_url }}">
                        <li>
                            <img src="" />
                            <p>{{ exchange.name }}</p>
                            <p>{{ exchange.get_type_display }}</p>
                        </li>
                    </a>
                {% endif %}
            {% endfor %}

            <h2 class="headingDivider">Coming Soon</h2>
                <li>
                    <img href="" >
                    <p>Coinbase</p>
                    <p>Cryptocurrency Exchange</p>
                </li>

        </ul>
    {% endif %}

        </div>
    </div>
{% endblock %}